.main-outer-container-sin{

    /* border: 2px solid red; */
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
   
}

.inner-container-sin{
    display: flex;
    flex-direction: column;
    border: 0.1px solid  rgb(165 163 163 / 52%);
    padding: 2%;
    width:425px;
    max-height:900px;
   justify-content: center;
   



}

.logo-sin>img{
    width:75px

}

.header-sin>h3{
    font-weight: 400;
    font-size: x-large;
}


.password{

    /* border: 2px solid green */
    margin-top: 10%;
}

.signin-button{

    margin-top: 10%;
    text-align: end;
}
.header-logo{

    text-align: center;
}

.misc-links{

    color: rgb(26,115,232);
    font-size: small;
    font-weight:600;
    cursor: pointer;
}
.header-sin{

    line-height: normal;
}

@media screen and (min-width:475px) and (max-width:600px){
    

    .inner-container-sin {
        display: flex;
        flex-direction: column;
        
        padding: 2%;
        width:65%;
        max-height: 900px;
        justify-content: center;
    }
    
}

@media screen and (min-width:320px) and (max-width:475px) {

    
    .inner-container-sin {
        display: flex;
        flex-direction: column;
        padding: 2%;
        border: none;
        width:90vw;
        /* max-height: 900px; */
        justify-content: center;

    }

    
}