.main-outer-container{
    display: flex;
    /* border: 2px solid red; */
    width:100vw;
    flex-direction: column;
    /* align-content: center; */
    min-height: 125vh;
    align-items: center;


}


.inner-container{
    border: 0.2px solid  rgb(165 163 163 / 52%);
    padding: 2%;
    width:700px;
    min-height:100vh ;
    

}

.container-r{
    display: flex;
    /* border: 2px solid red; */
    width:100%;
    height:100% ;

}

.col-left{
    /* border: 2px solid red; */
    width:65%;
}

.col-right{
    /* border: 2px solid red; */
    width:35%;
}
  
#logo{

    width:75px
}


.col-left>h3{
    font-weight: 400;
    font-size: 25px;
}
#sidepic{
    width:200px

}
.col-right{

    text-align: center;
}

.lastname{
    margin-left: 5px;
}
.username{

    margin-top: 5px;
}

.username>p,.password-fields>p{

    font-size: 12px;
}

.misc-links{

    color: rgb(26,115,232);
    font-size: small;
    font-weight:600;
}

.confirm{
    margin-left: 5px;
}

.password-fields{
    margin-top: 5px;
}

#next-button{

 margin-left: 60%;
}

.footer-signup{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:200px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(128,140,151);
    margin-left: 40%;
    padding: 10px;

}

@media screen and (max-width:768px) and (min-width:600px){

    
.container-r >.col-right{
   display: none;
}


.container-r{
    display: flex;
    /* border: 2px solid red; */
    width:100%;
    height:100% ;
    justify-content: center;

}


    
}


@media screen and (max-width:600px) {
  
    .container-r >.col-right{
        display: none;
     }
     
     
     .container-r {
        display: flex;
        /* border: 2px solid red; */
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-wrap: wrap;

    }

         
         .inner-container{
            border: 0.2px solid  rgb(165 163 163 / 52%);
            padding: 2%;
            width:100%;
            min-height:100vh ;
            
        
        }

        .txtfield_rsp{
            width:80% !important;

        }

        .confirm{
            margin-left: 0px;
        }

        .lastname{
            margin-left: 0px;
        }

        .footer-signup{
            /* border: 2px solid red; */
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width:100vw;
            font-size: 12px;
            font-weight: bold;
            color: rgb(128,140,151);           
            
        }

        .footer-items{

            margin:15px;
        }
    
}